<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XferSuite.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.2" newVersion="4.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Fizzler" publicKeyToken="4ebff4844e382110" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <XferSuite.Properties.Settings>
      <setting name="SEYR_Plot_Size" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="SEYR_Yield_Font" serializeAs="String">
        <value>Segoe UI, 9.75pt, style=Bold</value>
      </setting>
      <setting name="SEYR_RC_Font" serializeAs="String">
        <value>Segoe UI, 12pt</value>
      </setting>
      <setting name="SEYR_Show_Brackets" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SEYR_Flip_X" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SEYR_Flip_Y" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SEYR_Delimeter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SEYR_Num_Scroller_Images" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="SEYR_Percentage_Sig_Figs" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="SEYR_Excel_Left_Start" serializeAs="String">
        <value>13</value>
      </setting>
      <setting name="SEYR_Excel_Top_Start" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="SEYR_Composite_X_Margin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SEYR_Composite_Y_Margin" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SEYR_Large_File_Size" serializeAs="String">
        <value>50</value>
      </setting>
    </XferSuite.Properties.Settings>
  </userSettings>
</configuration>
